{% extends "layout.njk" %}
    
{% block head %}
    <title>{{item.title}}</title>    
{% endblock %}


{% block content %}

    <section class="video">
            <!--Usando uma estrutura de repetição com o auxilio do template engine -->
     
                <div class="card" id="{{item.id}}">
                    <!--Usando if reduzido do nunjucks para colocar uma propriedade se o card estiver marcado como favorito -->
                    <div class="card__video ">
                       <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
                    </div>
        
                    <div class="card__content">
                        <p>{{item.description}}</p>
                    </div>
                    
                    <div class="card__info">
                        <p>Informações do Projeto</p>                    
                        <div class="card__price">
                            <p>Preço</p>
                            <p id="value">{{item.value}}</p>

                        </div>
                    </div>                
                
                </div> 
            
               
    </section>
           
{% endblock %}